version: '3'
services:

  # Suite CRM database
  mariadb:
    image: 'docker.io/bitnami/mariadb:10.3-debian-10'
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - MARIADB_USER=bn_suitecrm
      - MARIADB_DATABASE=bitnami_suitecrm
      - MARIADB_ROOT_PASSWORD=root
      - MARIADB_PASSWORD=root
    volumes:
      - 'mariadb_data:/bitnami/mariadb'

  # Suite CRM app
  suitecrm:
    image: 'docker.io/bitnami/suitecrm:7-debian-10'
    ports:
      - '80:8080'
      - '443:8443'
    environment:
      - SUITECRM_DATABASE_HOST=mariadb
      - SUITECRM_DATABASE_PORT_NUMBER=3306
      - SUITECRM_DATABASE_USER=bn_suitecrm
      - SUITECRM_DATABASE_NAME=bitnami_suitecrm
      - SUITECRM_DATABASE_PASSWORD=root
      - ALLOW_EMPTY_PASSWORD=yes
    volumes:
      - 'suitecrm_data:/bitnami/suitecrm'
    depends_on:
      - mariadb

volumes:
  mariadb_data:
    driver: local
  suitecrm_data:
    driver: local
